## Табличные данные

**Цель работы:** научиться работать с табличными данными в Python с использованием модуля Pandas

## Загрузка данных

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/fifa_players.csv')
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

Выводим столбцы из датасета

ФИО

In [33]:
df['potential'].unique()

array([94, 89, 91, 88, 90, 95, 92, 93, 87, 86, 85, 84, 83, 82, 81, 80, 79,
       78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62,
       61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 48, 51, 50])

In [9]:
df[['full_name']]

                              full_name
0        Lionel Andrés Messi Cuccittini
1          Christian  Dannemann Eriksen
2                            Paul Pogba
3                       Lorenzo Insigne
4                     Kalidou Koulibaly
...                                 ...
17949                    Rory  McKenzie
17950                     Michal Sipľak
17951                       Jan Bekkema
17952               Abdulrahman Al Yami
17953  José Francisco dos Santos Júnior

[17954 rows x 1 columns]

Вес в киллограммах

In [8]:
df[['weight_kgs']]

       weight_kgs
0            72.1
1            76.2
2            83.9
3            59.0
4            88.9
...           ...
17949        74.8
17950        79.8
17951        89.8
17952        64.9
17953        79.8

[17954 rows x 1 columns]

Национальность

In [10]:
df[['nationality']]

        nationality
0         Argentina
1           Denmark
2            France
3             Italy
4           Senegal
...             ...
17949      Scotland
17950      Slovakia
17951   Netherlands
17952  Saudi Arabia
17953        Brazil

[17954 rows x 1 columns]

Несколько столбцов вместе

In [11]:
df[['full_name', 'height_cm', 'weight_kgs', 'potential', 'aggression']]

,full_name,height_cm,weight_kgs,potential,aggression
0,Lionel Andrés Messi Cuccittini,170.18,72.1,94,48
1,Christian Dannemann Eriksen,154.94,76.2,89,46
2,Paul Pogba,190.50,83.9,91,78
3,Lorenzo Insigne,162.56,59.0,88,34
4,Kalidou Koulibaly,187.96,88.9,91,87
...,...,...,...,...,...
17949,Rory McKenzie,175.26,74.8,70,69
17950,Michal Sipľak,182.88,79.8,67,62
17951,Jan Bekkema,185.42,89.8,67,27
17952,Abdulrahman Al Yami,175.26,64.9,71,38
17953,José Francisco dos Santos Júnior,190.50,79.8,75,67

Первые 10 строк

In [12]:
df.head(10)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
5,V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,CB,Netherlands,88,90,...,64,82,88,41,60,62,87,90,89,84
6,K. Mbappé,Kylian Mbappé,12/20/1998,20,152.40,73.0,"RW,ST,RM",France,88,95,...,78,62,38,88,82,70,86,34,34,32
7,S. Agüero,Sergio Leonel Agüero del Castillo,6/2/1988,30,172.72,69.9,ST,Argentina,89,89,...,83,65,24,92,83,83,90,30,20,12
8,M. Neuer,Manuel Neuer,3/27/1986,32,193.04,92.1,GK,Germany,89,89,...,16,29,30,12,70,47,70,17,10,11
9,E. Cavani,Edinson Roberto Cavani Gómez,2/14/1987,32,185.42,77.1,ST,Uruguay,89,89,...,79,84,48,93,77,85,82,52,45,39

Случайные 25 строк (сэмпл)

In [13]:
df.sample(25)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
8078,V. Pinson,Virgile Pinson,2/22/1996,23,152.40,67.1,"ST,LW",France,62,69,...,59,29,20,64,54,67,49,16,13,18
14228,S. Yatabaré,Sambou Yatabaré,3/2/1989,30,190.50,83.0,"CM,CDM,RM",Mali,70,70,...,68,85,67,64,65,64,68,64,68,65
764,F. Hübner,Florian Hübner,3/1/1991,28,193.04,83.9,CB,Germany,73,75,...,35,73,76,44,37,44,68,73,79,73
10141,S. Mrowca,Sebastian Mrowca,1/16/1994,25,152.40,78.9,CDM,Poland,65,68,...,54,80,63,47,56,50,49,54,67,64
587,G. Ortíz,Guillermo Ortíz,8/9/1992,26,182.88,79.8,CB,Argentina,74,79,...,48,83,74,32,35,48,57,72,71,73
15858,V. Le Goff,Vincent Le Goff,10/15/1989,29,152.40,68.0,LB,France,73,73,...,68,62,73,71,63,43,68,73,74,75
5226,T. Warner,Anthony Randolph Warner,5/11/1974,44,193.04,83.9,GK,Trinidad & Tobago,53,53,...,20,31,15,15,21,17,46,19,15,14
2953,B. Kwiecień,Bartosz Kwiecień,5/7/1994,24,185.42,79.8,"CDM,CB",Poland,64,70,...,46,62,64,57,55,37,59,59,65,62
14465,M. Saito,齋藤 学,4/4/1990,28,170.18,68.0,"LM,RM",Japan,70,70,...,65,34,19,63,69,60,64,20,21,22
7857,Y. Orozco,Yéiner Orozco,12/17/1993,25,172.72,64.0,CDM,Colombia,61,65,...,50,55,62,48,59,38,60,58,58,54
1857,S. Andrist,Stephan Andrist,12/12/1987,31,175.26,71.2,"RM,LM,RW",Switzerland,68,68,...,63,59,46,63,57,62,60,22,47,39
14492,R. Riou,Rémy Riou,8/6/1987,31,187.96,81.2,GK,France,70,70,...,13,29,28,18,39,23,48,14,13,12
8455,F. Hart,Florian Hart,5/11/1990,28,175.26,68.9,"RB,CDM,CM,RM",Austria,62,62,...,38,71,57,56,48,31,58,52,61,59
10430,J. Vickers,Josh Vickers,12/1/1995,23,193.04,72.1,GK,England,65,75,...,12,25,22,12,21,25,39,24,20,12
5755,G. Haag,Giovanni Haag,5/30/2000,18,182.88,68.0,"CDM,CB",France,55,73,...,28,60,54,33,48,36,45,51,62,59
2211,K. Agard,Kieran Agard,10/10/1989,29,175.26,67.1,"ST,RW",England,67,67,...,61,59,46,69,55,68,54,46,30,22
11359,J. Baldwin,Jack Baldwin,6/30/1993,25,185.42,69.9,CB,England,66,71,...,17,61,59,35,41,32,71,64,70,67
3495,B. Rubio,Brian Rubio,11/9/1996,22,185.42,79.8,ST,Mexico,62,70,...,60,58,19,63,53,66,52,23,21,23
6769,M. Kelly,Michael Kelly,11/3/1997,21,154.94,69.9,LB,Scotland,59,68,...,31,57,55,39,45,46,51,52,58,56
8214,J. Mauersberger,Jan Mauersberger,6/17/1985,33,193.04,93.0,CB,Germany,62,62,...,23,70,54,32,26,33,43,63,66,49
13029,Jonaldo Santoso,Jonaldo Kauã Santoso Jasper,2/29/1992,27,185.42,79.8,ST,Brazil,68,68,...,60,56,39,72,43,61,75,18,33,42
15500,S. Adegbenro,Samuel Adegbenro,12/3/1995,23,152.40,74.8,"LW,RW,ST",Nigeria,72,80,...,66,64,26,70,66,59,71,48,44,23
6047,Qiu Shengjiong,盛炯邱,9/1/1985,33,187.96,92.1,GK,China PR,57,57,...,5,34,13,10,50,12,50,14,8,6
3869,M. Lercher,Michael Lercher,1/4/1996,23,152.40,68.9,"LB,LWB",Austria,61,68,...,25,51,60,46,48,37,46,55,63,61
14125,T. Hubočan,Tomáš Hubočan,9/17/1985,33,182.88,69.9,"CB,LB",Slovakia,70,70,...,57,74,64,42,54,61,72,67,74,73

Статистика

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           17954 non-null  object
 1   full_name                      17954 non-null  object
 2   birth_date                     17954 non-null  object
 3   age                            17954 non-null  int64
 4   height_cm                      17954 non-null  float64
 5   weight_kgs                     17954 non-null  float64
 6   positions                      17954 non-null  object
 7   nationality                    17954 non-null  object
 8   overall_rating                 17954 non-null  int64
 9   potential                      17954 non-null  int64
 10  value_euro                     17699 non-null  float64
 11  wage_euro                      17708 non-null  float64
 12  preferred_foot                 17954 non-null  object
 13  international_reputation(1-5)  17954 non-null  int64
 14  weak_foot(1-5)                 17954 non-null  int64
 15  skill_moves(1-5)               17954 non-null  int64
 16  body_type                      17954 non-null  object
 17  release_clause_euro            16117 non-null  float64
 18  national_team                  857 non-null    object
 19  national_rating                857 non-null    float64
 20  national_team_position         857 non-null    object
 21  national_jersey_number         857 non-null    float64
 22  crossing                       17954 non-null  int64
 23  finishing                      17954 non-null  int64
 24  heading_accuracy               17954 non-null  int64
 25  short_passing                  17954 non-null  int64
 26  volleys                        17954 non-null  int64
 27  dribbling                      17954 non-null  int64
 28  curve                          17954 non-null  int64
 29  freekick_accuracy              17954 non-null  int64
 30  long_passing                   17954 non-null  int64
 31  ball_control                   17954 non-null  int64
 32  acceleration                   17954 non-null  int64
 33  sprint_speed                   17954 non-null  int64
 34  agility                        17954 non-null  int64
 35  reactions                      17954 non-null  int64
 36  balance                        17954 non-null  int64
 37  shot_power                     17954 non-null  int64
 38  jumping                        17954 non-null  int64
 39  stamina                        17954 non-null  int64
 40  strength                       17954 non-null  int64
 41  long_shots                     17954 non-null  int64
 42  aggression                     17954 non-null  int64
 43  interceptions                  17954 non-null  int64
 44  positioning                    17954 non-null  int64
 45  vision                         17954 non-null  int64
 46  penalties                      17954 non-null  int64
 47  composure                      17954 non-null  int64
 48  marking                        17954 non-null  int64
 49  standing_tackle                17954 non-null  int64
 50  sliding_tackle                 17954 non-null  int64
dtypes: float64(7), int64(35), object(9)
memory usage: 7.0+ MB

In [15]:
df.describe()

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
count,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,1.769900e+04,17708.000000,17954.000000,17954.000000,17954.000000,...,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000
mean,25.565445,174.946921,75.301047,66.240169,71.430935,2.479280e+06,9902.134628,1.111674,2.945695,2.361034,...,46.852456,55.816531,46.657959,49.857302,53.406260,48.357302,58.680183,47.162861,47.733040,45.705915
std,4.705708,14.029449,7.083684,6.963730,6.131339,5.687014e+06,21995.593750,0.392168,0.663691,0.763223,...,19.429337,17.394047,20.754649,19.694311,14.156038,15.810844,11.625541,20.037346,21.674973,21.285812
min,17.000000,152.400000,49.900000,47.000000,48.000000,1.000000e+04,1000.000000,1.000000,1.000000,1.000000,...,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000
25%,22.000000,154.940000,69.900000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,2.000000,...,32.000000,44.000000,26.000000,38.000000,44.000000,38.000000,51.000000,30.000000,27.000000,24.000000
50%,25.000000,175.260000,74.800000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,3.000000,2.000000,...,51.000000,59.000000,52.000000,55.000000,55.000000,49.000000,60.000000,52.500000,55.000000,52.000000
75%,29.000000,185.420000,79.800000,71.000000,75.000000,2.100000e+06,9000.000000,1.000000,3.000000,3.000000,...,62.000000,69.000000,64.000000,64.000000,64.000000,60.000000,67.000000,64.000000,66.000000,64.000000
max,46.000000,205.740000,110.200000,94.000000,95.000000,1.105000e+08,565000.000000,5.000000,5.000000,5.000000,...,94.000000,95.000000,92.000000,95.000000,94.000000,92.000000,96.000000,94.000000,93.000000,90.000000

In [17]:
df.shape

(17954, 51)

По данным характеристикам можно сделать вывод, что явных пропусков в выборках нет. Все столбцы непустые (non-null) и имеют тип int64 или float64

Уберем столбец 'penalties' и выполним группировку значений по национальности. Получим следующее

In [18]:
df = df.drop(columns=['penalties'])
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,strength,long_shots,aggression,interceptions,positioning,vision,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,66,94,48,22,94,94,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,58,89,46,56,84,91,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,87,82,78,64,82,88,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,44,84,34,26,83,87,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,94,15,87,88,24,49,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,64,54,69,41,60,64,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,70,22,62,55,42,39,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,63,9,27,10,5,25,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,49,58,38,15,54,52,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,67,53,67,20,53,49,45,23,31,21

In [31]:
df[['age', 'potential', 'weight_kgs']].groupby(by=['age'], as_index=False).mean()

    age  potential  weight_kgs
0    17  74.889571   70.661963
1    18  73.950884   71.710806
2    19  73.820272   72.794984
3    20  73.274236   72.878603
4    21  73.314031   73.589235
5    22  73.014706   74.093456
6    23  72.546768   74.545019
7    24  72.427475   75.072448
8    25  71.521472   75.686426
9    26  70.981571   75.797115
10   27  70.025038   76.138316
11   28  69.477639   76.687567
12   29  69.583248   76.691828
13   30  69.561030   76.984770
14   31  69.784615   76.882840
15   32  69.724522   76.642038
16   33  69.597849   77.724731
17   34  70.009317   77.927019
18   35  69.384181   77.136158
19   36  68.290909   79.552121
20   37  67.929293   79.715152
21   38  69.053571   77.635714
22   39  68.354839   80.787097
23   40  66.066667   76.453333
24   41  69.600000   84.050000
25   42  66.500000   72.350000
26   44  53.000000   83.900000
27   45  48.000000   86.200000
28   46  71.000000   72.100000

В результате можем наблюдать следующую закономерность: с увеличением возраста потенциал футболиста падает, а метаболизм ухудшается, что вызывает увеличение веса

**Вывод:** в результате выполнения лабораторной работы были изучены основные принципы работы с табличными данными в Python с использованием модуля Pandas